body{
    margin: 0;
    background-color: black;
    overflow: hidden;
    height: 100vh;
   
}

h1{
    text-align: center;
    font-weight: bolder;
    color: white;
}

.container{
   
    display: flex;
    width: 100%;
    align-items: center;
   
}

.panel{
    flex:0.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    margin: 10px;
    position: relative;
       
}

.panel h4{

    font-size: 30px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    opacity: 0; 
    margin: 0;
    color:wheat;

}

.panel.active{
    flex:5;
    transition: all 1s;
    transition-timing-function: ease;
}

.panel.active h4{
    opacity: 1;
}

.panel:hover{

    border-style: solid;
    border-color: aquamarine;
    border-width: 4px;

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(249, 246, 246);
    color: rgb(6, 6, 6);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip.active:hover .tooltiptext{
      visibility: hidden;
  }
  


#panel-1{
    background-image: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");   
}

#panel-2{
    background-image: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");   
}

#panel-3{
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");   
}

#panel-4{
    background-image: url("https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");   
}

#panel-5{
    background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");   
}
